body{
  padding-top: 65px;
}

nav.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background: #f44b40;
}


.navbar-right{
  display: flex;
  flex-direction: row;
}



*{
  font-family: Roboto,Helvetica,Arial,sans-serif;
}

.beerItem{
  height: 400px;
  width: 250px;
  margin-left: 10px;
  margin-top: 10px;
  padding-top: 20px;
}

 img.imageBeer{
  height: 250px;
  margin-bottom: 25px;
}

.beerItem>p{
  margin-bottom: 5px;
}

.btn-wrap-text {
    white-space: normal !important;
    word-wrap: break-word !important;
}

img.imageBeerDet {
  height: 500px;
}

div.rowDet{
  margin-top: 50px;
  margin-bottom: 50px;
}
